html, body {
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
}

.container {
    text-align: center;
    width: 50%;
}

#imageUser {
    width: 200px;
    margin-top: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#user-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
}

#user-lastname {
    display: inline-block;
}

h2 {
    font-size: medium;
}

#elementInterest {
    padding-top: 1em;
    padding-bottom: 1em;
}

.same_line {
    display: inline-block;
    width: 20px;
    padding-left: 10px;
    height: auto;
}

.interest-info {
    display: inline-block;
}

@media (max-width: 767px) {
    #information {
        margin: 1em 0 0;
        padding-bottom: 1em;
        border-top: 0.1em solid grey;
    }

    #logo {
        width: 40%;
        height: auto;
        margin: 0.4em 0.4em 0.4em 0.4em;
    }

    .box-list {
        border: 0.1em solid #c0c0c0;
        display: block;
        padding: 1em 1em 1em 1em;
        margin: 2em 2em 2em 2em;
        box-shadow: 0.2em 0.2em 0.2em #c0c0c0;
        border-radius: 0.5em;
    }
}

@media (min-width: 768px) {
    #logo {
        width: 20%;
        height: auto;
        margin: 0.4em 0.4em 0.4em 0.4em;
    }
    .center {
        margin: 1.2em;
        text-align: justify;
    }
    .box-list {
        border: 0.1em solid #c0c0c0;
        height: auto;
        overflow: auto;
        padding: 1em 1em 1em 1em;
        margin: 2em 2em 2em 2em;
        box-shadow: 0.2em 0.2em 0.2em #c0c0c0;
        border-radius: 0.5em;
    }
}