<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <meta charset="UTF-8">
    <title>Totally Spies</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="../static/img/slogan_and_logo.png"  alt="Logo" id="logo"/>
        </div>
        <ul class="nav navbar-nav navbar-right center">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Account</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>
<section>
    <div class="card">
        <img id="user_picture" src="../static/img/users/josh.jpg" title="user_picture" alt="Tinder Photo" />
        <div id="card-part">
            <div id="information">
                <div id="main-information">
                    <h1 id="name">Josh</h1>
                    <h2 id="age">22</h2>
                </div>
                <div id="interest">
                    <span class="chess-icon">Chess</span>
                    <span class="music-icon">Music</span>
                    <span class="game-icon">Game</span>
                </div>
            </div>
            <div id="control">
                <img class="control-button" src="../static/img/icon/cross.png" alt="Pass">
                <img class="control-button" src="../static/img/icon/chat.png" alt="Chat">
            </div>
        </div>
    </div>
</section>

</body>
</html>