<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html lang="en">
<head>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <meta charset="UTF-8">
    <title>Totally Spies</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="img/slogan_and_logo.png"  alt="Logo" id="logo"/>
        </div>
        <ul class="nav navbar-nav navbar-right center">
            <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> Account</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>
<section id="centerAll">
    <div class="usersRecomandation" th:each = "user : ${userList}">
        <div class="card">
            <img id="user_picture" title="user_picture" alt="Photo" src="img/user.png"/>
            <div id="card-part">
                <div id="information">
                    <div id="main-information">
                        <h1 id="name" th:text="${user.globalName}">Name</h1>
                    </div>
                    <div id="interest" >
                        <div th:each = "element : ${user.interests}">
                            <span th:text="${element}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>