<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Totally Spies - Profile</title>
    <!-- stylesheet -->
    <link href="css/profile.css" rel="stylesheet">
    <script src="js/profile.js"></script>
</head>
<body>
<div class="background">
    <img th:src="${picture}" alt="User"><br><br>
    <p id="user-name" th:text="${username}"></p>
</div>
<div class="box-list">
    <div id="container">
        <form>
            <br><label for="name" id="interest-title">Add An Interest : </label><br>
            <input type="text" id="name" placeholder="Enter an interest" autocomplete="off"><br>
            <button id="btnAdd">Add</button><br><br>
            <label>List Of Interest :</label><br><br>
            <div id="interest">
                <div th:each = "element : ${interestList}">
                    <span th:text="${element}"></span>
                </div>
            </div>
            <button id="btnRemove">Remove Selected Interest</button>
        </form>
    </div>
</div>
<script>
    const btnAdd = document.querySelector('#btnAdd');
    const btnRemove = document.querySelector('#btnRemove');
    const sb = document.querySelector('#list');
    const name = document.querySelector('#name');

    btnAdd.onclick = (e) => {
        e.preventDefault();

        // validate the option
        if (name.value == '') {
            alert('Please enter the name.');
            return;
        }
        // create a new option
        const option = new Option(name.value, name.value);
        // add it to the list
        sb.add(option, undefined);

        // reset the value of the input
        name.value = '';
        name.focus();
    };

    // remove selected option
    btnRemove.onclick = (e) => {
        e.preventDefault();

        // save the selected option
        let selected = [];

        for (let i = 0; i < sb.options.length; i++) {
            selected[i] = sb.options[i].selected;
        }

        // remove all selected option
        let index = sb.options.length;
        while (index--) {
            if (selected[index]) {
                sb.remove(index);
            }
        }
    };
</script>
</body>