<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Totally Spies - Profile</title>
    <!-- stylesheet -->
    <link href="css/profile.css" rel="stylesheet">
    <script src="js/profile.js"></script>
</head>
<body>
<a href="/main">Return</a>
    <div class="background">
        <img th:src="${picture}" alt="User"><br><br>
        <p id="user-name" th:text="${username}"></p>
        <!--<img src="../static/img/user.png" alt="User"><br><br>-->
    </div>
<div class="box-information">
    <div id="information">
        <form>
            <div class="background">
               <!-- <label for="user-name">Tina Rose</label><br><br>-->
                <b>Birth Date : <br /><br>
                    <input type="date" name="date" value="1997-07-22"/>
                </b>
            </div>
        </form>
    </div>
</div><br>
<div class="box-list">
    <div id="container">
        <form>
            <br>
            <label for="interest_list">Add An Interest :</label><br>
            <select id="interest_list" name="interestList">
                <optgroup label="Sport">
                    <option>Football</option>
                    <option>Basketball</option>
                    <option>Tennis</option>
                    <option>Baseball</option>
                </optgroup>
                <optgroup label="Music">
                    <option>Hip-Hop</option>
                    <option>Pop</option>
                    <option>Electro</option>
                    <option>K-Pop</option>
                </optgroup>
                <optgroup label="Enrichment Hobbies">
                    <option>Foreign Language Study</option>
                    <option>Reading</option>
                    <option>Blogging</option>
                    <option>Writing</option>
                </optgroup>
                <optgroup label="Creative Hobbies">
                    <option>Drawing</option>
                    <option>Painting</option>
                    <option>Photography</option>
                    <option>Scrapbooking</option>
                </optgroup>
            </select>
            <button class="submit-button" type="button" id="add_element">Add Interest</button>
            <p>List Of Interest :</p>
            <div id="interest">
                <div th:each = "element : ${interestList}" id="list-interest">
                    <span th:text="${element}" class="interest-info"></span>
                    <img src="/img/icon/cross.png" class="same_line" alt="Close button"/>
                </div>
            </div>
        </form>
    </div>
</div><br>
<script>
        let selectInterest = document.getElementById("interest_list");
        const list = document.getElementById("list-interest");
        let add = document.getElementById("add_element");
        let closeBtn = document.getElementsByClassName("same_line");

        for (let i = 0; i < closeBtn.length; i++) {
            closeBtn[i].addEventListener("click", function () {
                list.removeChild(list.parentNode);
            });
            }

        add.addEventListener("click", function() {
            let interestL = document.getElementsByClassName("interest-info");

            if (selectInterest.value && selectInterest.value.trim().length > 1) {
                for (let i = 0; i < interestL.length; i++) {
                    if (selectInterest.value === interestL[i].innerHTML)
                        return;
                }
                let container = document.createElement("p");
                let newNode = document.createElement("span");
                let img = document.createElement("img");
                img.src = "/img/icon/cross.png";
                img.className = "same_line";
                newNode.className = "interest-info";
                newNode.innerHTML = selectInterest.value;
                container.appendChild(newNode);
                container.appendChild(img);
                list.appendChild(container);
                img.addEventListener("click", function () {
                    list.removeChild(container);
                })
            }

        });
</script>
</body>